html {
    scroll-behavior: smooth;
    margin: 0;
  }

body{
    height: 100%;
    margin: 0;
    padding:10px;
    display: grid;
    grid-template-columns:[yy] 1fr [R] 1fr [rr] 1fr [B];
    grid-template-rows: [A] 10% [aa] 45rem [B] 1fr [C] 1fr [D] 20% [last];
}

.parallax{
  background-color: #ffffff;
  background-image: url("./collage.gallery.img.png");
  background-attachment: fixed;
  background-size: cover;
  grid-column: yy / B ;
  grid-row: A / B;
}

nav{
  grid-column: yy / B ;
  grid-row: A / aa;
  float: left;
  padding-top: .6rem;
  padding-left: .2rem;
}

footer{
  grid-column: yy / B;
  grid-row: last;
  background-color: #ffffff;
}

.pic2{
  display: grid;
  grid-column: yy / R;
  grid-row: B / C;
  justify-items: center;
  align-items:center;
}

.pic3{
  display: grid;
  grid-column: R / rr;
  grid-row: B / C;
  justify-items: center;
  align-items:center;
}

.pic4{
  display: grid;
  grid-column: rr / B;
  grid-row: B / C;
  justify-items: center;
  align-items:center;
}
.pic5{
  display: grid;
  grid-column: R / rr;
  grid-row: C / D;
  justify-items: center;
  align-items:center;
}
.pic6{
  display: grid;
  grid-column: rr / B;
  grid-row: C / D;
  justify-items: center;
  align-items:center;
}
.pic7{
  display: grid;
  grid-column: yy / R;
  grid-row: C / D;
  justify-items: center;
  align-items:center;
}

html::-webkit-scrollbar {
  display: none;
}


.nav{
  display: inline-block;
  position: relative;
  right: 2rem;
  bottom: .8rem;
  list-style: none;
  padding: 0;
  background-color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: #000000;
  font-size: large;
  border: none;
  padding: 1rem 2rem ;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 1rem;
  }
  .nav {
    transition-duration: 0.4s;
  }
  
  .nav:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .nav span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .nav span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .nav:hover span {
    padding-right: 25px;
  }
  
  .nav:hover span:after {
    opacity: 1;
    right: 0;
  }
  a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  a:active {
    color: rgb(67, 90, 112);
    text-decoration: none;
  }
  
  li{
    display: inline;
  }

  