html {
    scroll-behavior: smooth;
    margin: 0;
  }

body{
    height: 100%;
    margin: 0;
}

html::-webkit-scrollbar {
  display: none;
}

#parallax1{
  background-image: url(https://pawsplaygrounds.com/wp-content/uploads/2016/12/dog-line-up.jpg);
  background-size: cover;
  height: 60rem;
  background-attachment: fixed;

}

#parallax2{
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/cat-quotes-ginger-cat-on-bed-64e3990220b36.jpeg);
  background-size: 100%;
  height: 50rem;
  background-attachment: fixed;
}

#welcome{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  color: #293747;
  font-size: 50px;
}
#infonav{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;;
  font-size: 30px;
}

.sweet{
  font-family: Sweet;
  font-size: x-large;
  width: 20rem;
  height: 6rem;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  left: 35rem;
  bottom: 16rem;
}

.center{
    display: grid;
    justify-items: center;
}

#logo{
    position: relative;
    top: 12%;
    right: 30%;
    border: 5px solid #000000;
}

@font-face {
    font-family: Sweet;
    src: url(Emilys_Candy/EmilysCandy-Regular.ttf);
}


#w1{
    position: relative;
    top: .1rem;
    font-family: Sweet;
    font-size: 8.8rem;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    font-weight: lighter;
    text-shadow: 5px 5px #000000;
}


.button{
    position: relative;
    bottom: 7rem;
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #000000;
    font-size: large;
    border: none;
    padding: 1rem 2rem ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button {
    transition-duration: 0.4s;
  }

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

#footerhome{
  background-color: white;
  color: #000000;
}

.nav{
  display: inline-block;
  position: relative;
  right: 740px;
  list-style: none;
  padding: 0;
  background-color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: #000000;
  font-size: large;
  border: none;
  padding: 15px 32px ;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 15px;
}
.nav {
  transition-duration: 0.4s;
}

.nav:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  transition-duration: 0.4s;
}

.nav span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nav:hover span {
  padding-right: 25px;
}

.nav:hover span:after {
  opacity: 1;
  right: 0;
}
a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:active {
  color: rgb(67, 90, 112);
  text-decoration: none;
}

li{
  display: inline;
}



